.infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f7f7f7;
  text-align: center;
  padding: 30px 25px;

  &__iconWrapper {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}