@import '../layouts/settings';

.productPage {
  padding: 15px 0; 
}

.mainInfo {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 20px;
}

.priceField {
  font-size: 22px;
  margin-bottom: 15px;

  .priceWithoutDiscrount {
    margin: 0 5px;
  }

  .priceWithoutDiscrount,
  .priceWithDiscrount {
    color: $c-accent;
  }

  &.priceWithDiscount {
    .priceWithoutDiscrount {
      color: inherit;
      text-decoration: line-through;
    }
  }
}


