$vertical-gutter: 30px;

.row {
  margin-top: -($vertical-gutter / 2);
  margin-bottom: -($vertical-gutter / 2);
}

.col {
  padding-top: $vertical-gutter / 2;
  padding-bottom: $vertical-gutter / 2;
}