@import '../../layouts/settings';

.catalogAside {
  display: none;
  padding: 20px 0;

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.title {
  margin-bottom: 15px;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }

  &::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    background: #ddd;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}

.menu {
  @include list-unstyled;

  margin: 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.menuItem {
  border-bottom: 1px solid #f4f4f4;

  &:last-child {
    border-bottom: none;
  }
}

.link {
  display: block;
  border-bottom: none;
  color: inherit;
  padding: 10px 0;
}