$vertical-indent: 30px;

.productsCompanies {
  &__row {
    margin-top: -($vertical-indent / 2);
    margin-bottom: -($vertical-indent / 2);
    justify-content: center;
  }

  &__col {
    padding-top: $vertical-indent / 2;
    padding-bottom: $vertical-indent / 2;
  }
}
