@import '../../layouts/settings';

$arrows-horizontal-margin: 35px;

.sliderArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sliderArrowIcon {
  font-size: 30px;
  color: $c-white;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.6));

  &:hover {
    color: #f41224;
  }
}

.sliderArrowPrev {
  left: $arrows-horizontal-margin;
}

.sliderArrowNext {
  right: $arrows-horizontal-margin;
}

.sliderPagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

:local(.paginationDot) {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 500rem;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.6));

  :global &.glide__bullet--active {
    background: $c-white;
  }

  &:hover {
    @include media-breakpoint-up(lg) {
      background: #f41224;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}