@import '../../layouts/settings';

.top {
  padding: 10px 0 15px;
  border-bottom: 1px solid $c-border-light;
}

.bottom {
  border-bottom: 1px solid $c-border-light;
}

.headerLogo,
.headerDelivery,
.headerCallInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    align-items: stretch;
  }
}

.headerBackCall {
  font-weight: 600;
  margin-bottom: 10px;

  a {
    color: inherit;
    border-bottom: none;
  }
}