.top {
  padding: 10px 0 15px;
  border-bottom: 1px solid #efefef;
}

.bottom {
  border-bottom: 1px solid #efefef;
}

.headerBackCall {
  font-weight: 600;
  margin-bottom: 10px;

  a {
    color: inherit;
    border-bottom: none;
  }
}