@import '../../layouts/settings';

.toggler {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.menu {
  @include list-unstyled;

  display: flex;
  justify-content: center;
  margin: 0;
}

.menuLink {
  display: block;
  padding: 20px;
  border-bottom: none;
  color: inherit;
  font-weight: 600;
  text-transform: uppercase;
}