/* Setup */
@import "./settings";

/* Vendors */
// Bootstrap
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

/* Project common styles */

html {
  font-size: $main-font-size;
  line-height: $line-height-base;
  color: $main-font-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // unprefixed properties for the future
  font-smoothing: antialiased; /* stylelint-disable-line property-no-unknown */
  font-smooth: alwalys; /* stylelint-disable-line property-no-unknown */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
  max-width: 100%;
}

a {
  color: #008ace;
  border-bottom: 1px solid #b2ccf0;
  transition: border-color .3s ease;
  text-decoration: none;

  &:hover {
    color: #f41224;
    border-bottom-color: rgba(244, 18, 36, 0.3);
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
  white-space: normal;
  user-select: none;
  color: #008ace;

  &:hover {
    color: #f41224;
  }

  &--filled,
  &--outline {
    padding: 0.25em 0.75em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0070d2;
    white-space: nowrap;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  &--filled {
    background: #0070d2;
    color: $c-white;
    font-weight: 600;

    &:hover {
      color: $c-white;
      background: #005fb2;
      border-color: #005fb2;
    }
  }

  &--outline {
    color: #0070d2;
    background-color: white;

    &:hover {
      color: #0070d2;
      background: #f4f6f9;
    }
  }

  &--outline-attention {
    color: #f41224;
    border-color: #f41224;

    &:hover {
      color: #f41224;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 600;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;

    &::after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 60px;
      height: 1px;
      background: #ddd;
    }
  }
}

.sr-only {
  @include sr-only;
}

$slider-arrows-horizontal-margin: 35px;

.glide__slide {
  height: auto !important;
}

.glide__arrow {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.glide__arrow-icon {
  font-size: 30px;
  color: $c-white;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));

  &:hover {
    color: #f41224;
  }
}

.glide__arrow--prev {
  left: $slider-arrows-horizontal-margin;
}

.glide__arrow--next {
  right: $slider-arrows-horizontal-margin;
}

.glide__bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.glide__bullet {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  border: none;
  border-radius: 500rem;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 1));

  &.glide__bullet--active {
    background: $c-white;
  }

  &:hover {
    @include media-breakpoint-up(lg) {
      background: #f41224;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.gatsby-image-outer-wrapper,
.gatsby-image-wrapper {
  max-width: 100%;
  max-height: 100%;
}

.gatsby-image-wrapper {
  img {
    width: auto !important;
    height: auto !important;
    max-width: 100%;
    max-height: 100%;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
}

.overflow-container {
  overflow: hidden;
}