/* Setup */
@import "./settings";

/* Vendors */
// Bootstrap
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";

/* Project common styles */

html {
  font-size: $main-font-size;
  line-height: $line-height-base;
  color: $main-font-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // unprefixed properties for the future
  font-smoothing: antialiased; /* stylelint-disable-line property-no-unknown */
  font-smooth: alwalys; /* stylelint-disable-line property-no-unknown */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

img {
  max-width: 100%;
}

a {
  color: #008ace;
  border-bottom: 1px solid #b2ccf0;
  transition: border-color .3s ease;
  text-decoration: none;

  &:hover {
    color: #f41224;
    border-bottom-color: rgba(244, 18, 36, 0.3);
    text-decoration: none;
  }
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  font-weight: 600;
}

.section {
  padding-top: 40px;
  padding-bottom: 50px;

  &__title {
    text-align: center;
    margin-bottom: 30px;
  }
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0.25em;
  text-decoration: none;
  color: #0070d2;
  white-space: normal;
  user-select: none;

  &--filled,
  &--outline {
    padding: 0.25em 0.75em;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #0070d2;
    white-space: nowrap;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }

  &--filled {
    background: #0070d2;
    color: $c-white;
    font-weight: 600;

    &:hover {
      background: #005fb2;
      border-color: #005fb2;
    }
  }

  &--outline {
    background-color: white;

    &:hover {
      background: #f4f6f9;
    }
  }

  &--outline-attention {
    color: #f41224;
    border-color: #f41224;
  }
}

.sr-only {
  @include sr-only;
}
