/* Vendors setup */
// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* Project setup */
// Colors (naming - http://chir.ag/projects/name-that-color/)
$c-white: #fff;
$c-black: #000;
$c-mine-shaft: #333;
$c-red-ribbon: #f41224;
$c-lochmara: #008ace;
$c-alto: #ddd;
$c-transparent: transparent;

$c-primary: $c-lochmara;
$c-accent: $c-red-ribbon;
$c-border: $c-alto;

// Fonts
$f-open-sans: 'Open Sans', sans-serif;

// Typography
$main-font-size: 16px;
$main-font-color: $c-mine-shaft;
$font-family-base: $f-open-sans;
$font-weight-base: 400;
$line-height-base: 1.7142857143;
$heading-font: $f-open-sans;
$heading-line-height: 1.1;
$body-bg: $c-white;

// Animations
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

// Layout
$z-index-default: 1;

// Media variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  x2l: 1600px,
  x3l: 1921px,
);

$grid-vertical-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 900px,
  xl: 1081px,
);

$breakpoint-extra-large-desktop-up: 'x2l';
$breakpoint-large-desktop-up: 'xl';
$breakpoint-desktop-up: 'lg';
$breakpoint-tablet-only: 'md';
$breakpoint-tablet-up: 'md';
$breakpoint-tablet-down: 'md';
$breakpoint-mobile-down: 'sm';
$breakpoint-small-mobile-down: 'xs';
$breakpoint-large-mobile-up: 'sm';

$max-width-tablet: 'max-width: #{map-get($grid-breakpoints, 'lg')}';
$max-height-tablet: 'max-height: #{map-get($grid-vertical-breakpoints, $breakpoint-tablet-down)}';

$m-retina2x: screen and (min-resolution: 120dpi), screen and (min-resolution: 1.25dppx);