@import '../../layouts/settings';

.formWrapper {
  width: 280px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.label,
.input,
.submitBtn {
  display: block;
  width: 100%;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  font-weight: 600;
}

.message {
  margin: 10px 0;
  font-size: 14px;
}

.messageSuccess {
  
}

.messageError {
  color: $c-accent;
}